<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <context:component-scan base-package="com.wqddg.server"/>

    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
        <property name="url" value="${wqddg.url}"/>
        <property name="password" value="${wqddg.password}"/>
        <property name="username" value="${wqddg.username}"/>
        <property name="driverClassName" value="${wqddg.driver}"/>
    </bean>


    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.wqddg.entity"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <property name="mapUnderscoreToCamelCase" value="true"/>
            </bean>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
        <property name="basePackage" value="com.wqddg.dao"/>
    </bean>


    <bean class="org.apache.activemq.spring.ActiveMQConnectionFactory" id="connectionFactory">
        <property name="brokerURL" value="tcp://192.168.128.138:61616"/>
    </bean>

    <bean class="org.springframework.jms.connection.SingleConnectionFactory" id="singleConnectionFactory">
        <property name="targetConnectionFactory" ref="connectionFactory"/>
    </bean>

    <bean id="queue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="ssm_queue"/>
    </bean>

    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="ssm_topic"/>
    </bean>

    <!--接收数据准备  监听器-->
    <bean class="com.wqddg.mq.MyMessageListener" id="myMessageListener"></bean>
    <bean class="com.wqddg.mq.TopMessageListener" id="topMessageListener"></bean>

    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer" id="defaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="queue"/>
        <property name="messageListener" ref="myMessageListener"/>
    </bean>

    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer" id="defaultMessageListenerContainer_topic">
        <property name="messageListener" ref="topMessageListener"/>
        <property name="destination" ref="topic"/>
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <!--解决topic消息被重复接收-->
        <property name="pubSubNoLocal" value="true"/>
    </bean>

</beans>
